@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
    background-color: #e9d1db;
    font-family: 'Nunito', sans-serif;

}

.container {
    display: grid;
    grid-template-areas:
      'header header'
      'search list'
      'footer footer';
    /* grid-template-columns: 350px 350px 350px 350px; */
    grid-template-columns: 1fr 0.25fr;
    /* grid-template-rows: 1fr 4fr 0.8fr; */
    width: 70%;
    margin: auto;
    margin-top: 50px;
    height: auto;
    
}


.btn {
  background-color: #EA4C89;
  border-radius: 15px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  /* display: inline-block; */
  font-size: 20px;
  min-height: 10px;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover,
.btn:focus {
  background-color: #F082AC;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 700px) {
  .container {
    display: grid;
    grid-template-areas:
      'header'
      'search'
      'list'
      'footer';
    grid-template-columns: 1fr;
    /* margin-top: 0; */
    height: auto;
  }
}