.header{
    grid-area: header;
    height: 150px;
    background-color: antiquewhite;
    position: relative;
    align-items: center;
    justify-content: center;
}

.header__logo {
    height: 150px;
    position: absolute;
    float: left;
    margin-left: 15px;
}

.search{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}   

.search__field{
  width: 400px;
  height: 45px;
  margin-right: 20px;
  font-size: 20px;
  border-radius: 15px;
}

@media screen and (max-width: 700px) {
    .header__logo {
        display: none;
    }

    .search__field{
        width: 200px;
    }
  }