.header{
    grid-area: header;
    height: 150px;
    background-color: antiquewhite;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.header__logo {
    height: 150px;
}

.empty{
    width: 200px;
}

.search{
    align-self: center;
    align-items: center;
}   

.search__field{
  width: 400px;
  height: 45px;
  margin-right: 20px;
  font-size: 20px;
  border-radius: 15px;
}

@media screen and (max-width: 900px) {

    /* .header{
        height: 200px;
    } */

    .header__logo {
        display: none;
    }

    .empty{
        display: none;
    }

    /* .search{
        width: 100%;
        align-self: center;
    } */

    .search{
        margin: auto;
    }

    .search__field{
        width: fit-content;
    }
  }