.list__ingredients{
    grid-area: list;
    height: auto;
    min-height: 600px;
    background-color: rgb(241, 205, 174);
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    
}

.title{
    display: flex;
    margin-top: 10px;
    gap: 15px;
    height: 10%;
}

.ingredients__btn{
    height: 40px;
    margin-top: 10px;
    /* align-self: center; */
}

.ingredients__title{
    display: flex;
    font-size: 25px;
    font-weight: bold;
}

.ingredients{
    display: flex;
    height: 70%;
    overflow-y: auto;
}


.chosen__ingredients{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    list-style: none;    
}

.btn__remove{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    float: right;
    color: grey;
    margin-left: 10px;
    font-size: 20px;
    height: 50px;
}

.recipe__filter{
    margin-top: 20px;
    height: 20%;
    font-size: 25px;
}

input[type="checkbox"]{
    transform: scale(1.3);
}

@media screen and (max-width: 900px) {
    .list__ingredients{
        min-height: 150px;
        overflow-y: auto;
    }
  }

