.search__results{
    grid-area: search;
    height: auto;
    min-height: 500px;
    background-color: bisque;
    display: flex;
    
}

.searched__results{
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
   font-size: 25px;
}

.preview{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    pointer-events: none;
    transition: all .2s ease-in-out;
}

.preview:hover {
    transform: scale(1.1);
}

.preview__img{
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.preview__name{
    pointer-events: auto;
    font-size: 25px;
    cursor: pointer;
    margin-top: 25px;
    text-align: center;
    
}

/*------------------------------ Recipe */

.preview__recipes{
    border: 2px solid black;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    pointer-events: none;
    transition: all .2s ease-in-out;
}

.preview__recipes:hover {
    transform: scale(1.1);
}

.image__recipe{
    height: 200px;
    width: 250px;
    overflow: hidden;
    
}

.name__recipe{
    pointer-events: auto;
    display: flex;
    font-size: 25px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .search__results{
        min-height: 300px;
        overflow-y: auto;
    }

    .preview{
        width: 150px;
        height: 150px;
    }

    .searched__results{
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}