.search__results{
    grid-area: search;
    height: auto;
    min-height: 600px;
    background-color: bisque;
    display: flex;
}

.searched__results{
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
}

.preview{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
}

.preview__img{
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.preview__name{
    font-size: 25px;
    cursor: pointer;
    margin-top: 25px;
}

/*------------------------------ Recipe */

.preview__recipes{
    border: 2px solid black;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
}

.image__recipe{
    height: 200px;
    width: 250px;
    overflow: hidden;
    
}

.name__recipe{
    display: flex;
    font-size: 25px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}